// TUTAJ DODAJEMY ZMIENNE KOLORÓW
$color-buttonPlay--primary: rgba(255, 0, 0, 0.8);
$color-font--buttonPlay: rgb(255, 255, 255);
$shadow-color: rgba(0, 0, 0, 0.25);
// ex. $color-font--primary: #ffff;
// ex. $color-font--primary: #ffff;

:root {
  --black-font: #222;
  --grey-font: #AAA;
  --nav-bg: #FFF;
  --internal-dark-shadow: rgba(0, 0, 0, 0.25);
  --external-red-shadow: rgba(255, 0, 0, 0.9);
  --nav-underline: rgba(255, 0, 0, 0.5);
  ;
}