.navigation {
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  height: 100px;
  width: 65vw;
  background-color: var(--nav-bg);
  box-shadow: 0 0 40px 4px var(--red-light);
}

.navigation .nav-btn{
  margin: 15px auto;
  height: 60%;
  background-color: var( --nav-bg);
  font-size: 30px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--grey-font);
  cursor: pointer;
  transition: .3s;
}

.navigation .clicked{
  border-bottom: 6px solid var(--nav-underline);
  line-height: 50px;
  color: var(--black-font);

}