.rank {
  width: 60vw;
  height: 60vh;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  background: var(--nav-bg);
  border-radius: 16px;
  overflow: auto;
  .header__rank {
    h1{
      font-family: "Montserrat", sans-serif;
      color: var(--black-font);
      font-size: 2.5rem;
      font-weight: 500;
      padding: 0 40px;
    }
    width: 100%;
    margin-top: 20px;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span {
      background: url("../../static/assets/ui/icons/icon-contacts_24px.png");
      background-size: cover;
      font-weight: bold;
      width: 42px;
      height: 50px;
    }
  }
  .user_list__rank {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    .user_list_item{
      padding: 40px 60px;
    }
    h2{
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
    }
    p{
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 2rem;
      margin: 10px 0;
    }
  }

}
