.gameButton {
    box-shadow: 0px 4px 4px $shadow-color;
    border-radius: 16px;
    width: 49%;
    height: 100px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    border: none;
}

.gameButton:active {
    transform: scale(0.99);
}

.gameButton_play {
    background: $color-buttonPlay--primary;
    color: $color-font--buttonPlay;
    text-transform: uppercase;
}