.iconButton {
	background: #fff;
	border: none;
	border-radius: 16px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	text-align: center;
	position: relative;
	width: 49%;
	height: 100px;
	font-family: 'Montserrat', sans-serif;
	&:hover {
		cursor: pointer;
	}
	&:active {
		transform: scale(0.99);
	}
	span {
		color: black;
<<<<<<<<< Temporary merge branch 1:src/components/iconButton/iconButton.scss
		background-size: cover;
		height: 30px;
		width: 30px;
		line-height: 51.2px;
		text-align: center;
		position: absolute;
		top: 24px;
		left: 20px;
	}
}

